pkey|database_name|db_unique_name|platform_name|cdb|con_id|con_name|open_mode|database_role|created|log_mode|force_logging|platform_id|charset|ncharset|size_bytes|size_readable|block_size|total_files|dma_source_id|dma_manual_id
