pkey|owner|object_name|object_type|status|temporary|generated|secondary|namespace|edition_name|sharing|editionable|oracle_maintained|application|default_collation|created|last_ddl_time|timestamp|dma_source_id|dma_manual_id
