pkey|owner|table_owner|table_name|index_name|index_type|uniqueness|tablespace_name|status|num_rows|leaf_blocks|distinct_keys|avg_leaf_blocks_per_key|avg_data_blocks_per_key|clustering_factor|blevel|partitioned|temporary|compression|prefix_length|degree|logging|visibility|size_bytes|size_readable|dma_source_id|dma_manual_id
