pkey|owner|table_name|physical_reads|physical_writes|buffer_busy_waits|db_block_changes|row_lock_waits|gc_buffer_busy|global_cache_blocks_lost|cache_hit_ratio|user_commits|user_rollbacks|pga_memory_mb|temp_space_mb|last_analyzed|dma_source_id|dma_manual_id
