pkey|username|account_status|created|profile|authentication_type|common|last_login|default_tablespace|temporary_tablespace|local_user|external_name|proxy_only|locked|expired|grace_period|dma_source_id|dma_manual_id
