pkey|tablespace_name|status|contents|allocation_type|segment_space_management|extent_management|block_size|initial_extent|next_extent|min_extents|max_extents|pct_increase|min_extlen|status|contents|logging|force_logging|bigfile|encrypted|compress_for|size_bytes|size_readable|free_bytes|free_readable|used_bytes|used_readable|pct_used|dma_source_id|dma_manual_id
