pkey|owner|table_name|tablespace_name|cluster_name|status|num_rows|blocks|empty_blocks|avg_space_bytes|chain_cnt|avg_row_len|compression|compress_for|degree|partitioned|iot_type|temporary|nested|buffer_pool|flash_cache|cell_flash_cache|row_movement|global_stats|user_stats|duration|skip_corrupt|monitoring|dependencies|created|last_analyzed|size_bytes|size_readable|dma_source_id|dma_manual_id
